@import "vars-color";

@each $group, $variants in $text-color-roles {
  @each $name, $var in $variants {
    .#{$group}-#{$name} {
      color: var(#{$var});
    }
  }
}

@each $group, $variants in $bg-color-roles {
  @each $name, $var in $variants {
    .#{$group}-#{$name} {
      background: var(#{$var});
    }
  }
}

@each $group, $variants in $border-color-roles {
  @each $name, $var in $variants {
    .#{$group}-#{$name} {
      border-#{$name}: 1px solid var(#{$var});
    }
  }
}
