.dot-text {
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    overflow: visible;
    white-space: wrap;
  }
}

.unselectable {
  user-select: none;
}
