[data-theme="dark"] {
  --bg-main: #212121;
  --bg-panel: #262626;
  --bg-elevated: #2C2C2C;

  --accent-main: #ff6a00;
  --accent-active: #ff8c42;
  --accent-muted: #986849;

  --text-primary: #B5B5B5;
  --text-secondary: #B5B5B5;
  --text-muted: #8A8A8A;

  --border-primary: #ff8c42;
  --border-muted: #986849;
}
