:root {
  --bg-main: #fff;
  --bg-panel: #f5f5f5;
  --bg-elevated: #eee;

  --accent-main: #ff6a00;
  --accent-active: #ff8c42;
  --accent-muted: #986849;

  --text-primary: #111;
  --text-secondary: #555;
  --text-muted: #888;

  --border-primary: #ff8c42;
  --border-muted: #986849;

}
